body{
    background-color: #333;
    text-color: white;
}
div.gallery {
  margin: 30px;
  float: left;
  width: auto;
   text-align: center;
}


div.gallery img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    text-align: center;

}

.gallery .title{
    text-align: center;
    font-size: 19px;
    color: White;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-family: sans-serif;
}
.gallery .job_id{
    text-align: center;
    font-size: 17px;
    color: White;
    text-transform: uppercase;
    font-family: sans-serif;
}

.gallery .job_description{
    font-size: 16px;
    color: #777;
    line-height: 20px;
    font-family: system-ui;
}


.topnav {
  overflow: auto;
  background-color:#333;
}



.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-family: sans-serif;
}